@charset "UTF-8";
@font-face {
  font-family: "Exo Demi Bold";
  src: url("../fonts/Exo-DemiBold.eot?") format("eot"), url("../fonts/Exo-DemiBold.woff") format("woff"), url("../fonts/Exo-DemiBold.ttf") format("truetype"), url("../fonts/Exo-DemiBold.svg#Exo-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Exo Bold";
  src: url("../fonts/Exo-Bold.eot?") format("eot"), url("../fonts/Exo-Bold.woff") format("woff"), url("../fonts/Exo-Bold.ttf") format("truetype"), url("../fonts/Exo-Bold.svg#Exo-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Cores */
/* Fontes */
/* Opacity */
/* Dimensões */
/* Display */
#jogadores-procurados .owl-stage .item p, #menu-lateral > ul > li ul, #jogador #videos .item:hover .play {
  display: none; }

#login #criar-conta:before, #favoritos p, #jogadores-procurados .owl-stage .active-slide p, h2.title:after, #menu-lateral > ul > li.active ul, .nav-tabs .nav-item .active:after, .pagination li a span, p span, #jogador .jogador-item p, #jogador #videos .item:hover .video-wrapper:before, #jogador #videos .item:hover .video-wrapper:after, #rodape h4:after {
  display: block; }

.interna #topo .dropdown, #menu-lateral > ul > li a .icon, .avatar, p, .like, #jogador .video .play, #jogador #videos .video-wrapper .play {
  display: inline-block; }

/* Border */
.interna #topo .dropdown .btn {
  border: none; }

/* Posições */
#login #criar-conta:before, #jogadores-procurados:before, h2.title:after, .nav-tabs .nav-item .active:after, #jogador .video .play, #jogador .video .time, #jogador #videos .item:hover .video-wrapper:before, #jogador #videos .item:hover .video-wrapper:after, #jogador #videos .video-wrapper .play, #jogador .owl-nav, #jogador .owl-nav .owl-prev, #jogador .owl-nav .owl-next, #rodape h4:after {
  position: absolute; }

#login #criar-conta a, #jogadores-procurados, #jogadores-procurados .subtitle, #jogadores-procurados .owl-stage .active-slide img, h2.title, .nav-tabs .nav-item .active, .pagination li:first-child span, .pagination li:last-child span, .likes, #jogador .video, #jogador #videos .video-wrapper, #jogador .owl-nav .owl-prev span, #jogador .owl-nav .owl-next span, #rodape h4 {
  position: relative; }

/* Float */
/* Margin */
/* Padding */
/* White-space */
/* Listas */
#menu-lateral > ul > li ul, #rodape ul {
  list-style: none; }

/* Overflow */
/* Background */
.interna #topo #lupa, #jogadores-procurados, #menu-lateral > ul > li a .icon, .like, #jogador .video .play, #jogador #videos .video-wrapper .play, #rodape .container, #copyright .seguro {
  background-repeat: no-repeat; }

/* Cursor */
/* Box-shadow */
/* Content */
/* SVG */
#topo {
  background-color: #eaeaea;
  height: 92px; }
  #topo a img {
    margin: 30px 0 0; }

.interna #topo {
  height: 80px; }
  .interna #topo #logo {
    height: 65px;
    margin: 5px 0 0 5px; }
  .interna #topo #avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .interna #topo input {
    border-right: 0 solid transparent;
    font-size: 12px;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
    padding: 0 14px;
    height: 28px; }
    .interna #topo input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .interna #topo #lupa {
    background-image: url("../img/lupa.png");
    background-position: center;
    cursor: pointer;
    background-color: #fff;
    border-left: 0 solid transparent;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    outline: none; }
  .interna #topo .dropdown .dropdown-menu {
    margin: 33px 0 0;
    background-color: #004fd0;
    min-width: 7rem;
    padding: 0; }
    .interna #topo .dropdown .dropdown-menu a {
      color: #fff;
      font-size: 12px;
      font-weight: 500; }
      .interna #topo .dropdown .dropdown-menu a + a {
        border-top: 1px solid #3f7adc; }
      .interna #topo .dropdown .dropdown-menu a:hover {
        background-color: transparent; }
  .interna #topo .dropdown .btn {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 0 0 6px;
    font-size: 15px; }
    .interna #topo .dropdown .btn:after {
      margin: 0 0 0 12px;
      border-top: 2px solid #004fd0;
      border-left: 2px solid #004fd0;
      border-right: 0 solid #004fd0;
      width: 10px;
      height: 10px;
      transform: rotate(-135deg); }

#login {
  margin: 140px 0 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 90px 65px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; }
  #login #form-login h5 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 14px; }
  #login #form-login form {
    padding: 0 36px; }
    #login #form-login form input {
      margin: 0 0 18px;
      font-size: 20px;
      font-weight: 100;
      color: #000;
      height: 43px;
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
    #login #form-login form button {
      width: 100%;
      margin: 6px 0 12px;
      font-size: 20px;
      font-family: "Exo Demi Bold";
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
  #login #form-login #esqueci-senha {
    font-size: 19px;
    color: #000;
    font-weight: 500; }
  #login #criar-conta {
    padding: 0 36px; }
    #login #criar-conta h5 {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      margin: 0 0 45px; }
    #login #criar-conta a {
      width: 100%;
      margin: 6px 0 12px;
      top: 16px;
      font-size: 20px;
      font-family: "Exo Demi Bold";
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3); }
    #login #criar-conta:before {
      content: "";
      width: 1px;
      height: 285px;
      top: -58px;
      left: 0;
      background-color: #004fd0; }

#favoritos {
  padding: 50px 0 80px; }
  #favoritos p {
    margin: 0 0 40px; }

#jogadores-procurados {
  background-image: url("../img/bg-jogadores-procurados.jpg");
  background-position: center;
  background-size: cover;
  padding: 90px 0 32px; }
  #jogadores-procurados h2 {
    color: #fff; }
    #jogadores-procurados h2:after {
      background-color: #fff; }
  #jogadores-procurados .subtitle {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 50px 0;
    z-index: 1; }
  #jogadores-procurados:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  #jogadores-procurados .owl-stage {
    margin: 20px 0 0; }
    #jogadores-procurados .owl-stage .item p {
      color: #fff;
      font-size: 25px; }
    #jogadores-procurados .owl-stage .active-slide img {
      top: -11px;
      left: -15px;
      width: 300px;
      height: 265px;
      z-index: 9; }
  #jogadores-procurados .owl-dots {
    margin: 46px 0 0; }
    #jogadores-procurados .owl-dots .owl-dot {
      width: 15px;
      height: 15px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 3px;
      outline: none; }
    #jogadores-procurados .owl-dots .owl-dot.active {
      background-color: #fff; }

h2.title {
  color: #004fd0;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 34px; }
  h2.title:after {
    width: 30px;
    height: 6px;
    content: "";
    top: 35px;
    left: 50%;
    margin: 0 0 0 -15px;
    background-color: #004fd0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }

#menu-lateral {
  background-color: #004fd0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-right: 1px solid #004fd0;
  padding: 10px 0;
  margin: -7px 0 0;
  height: 102%; }
  #menu-lateral > ul > li a {
    font-size: 12px;
    font-weight: 500;
    color: #fff; }
    #menu-lateral > ul > li a .icon {
      width: 11px;
      height: 11px;
      margin: 0 11px 0 0;
      background-position: right; }
    #menu-lateral > ul > li a .jogadores {
      background-image: url("../img/icon-jogadores.png"); }
    #menu-lateral > ul > li a .favoritos {
      background-image: url("../img/icon-favoritos.png"); }
    #menu-lateral > ul > li a .acessados {
      background-image: url("../img/icon-acessados.png"); }
    #menu-lateral > ul > li a .cadastrar {
      background-image: url("../img/icon-cadastrar.png"); }
  #menu-lateral > ul > li + li {
    border-top: 1px solid #3f7bdb; }
  #menu-lateral > ul > li ul {
    padding: 0;
    background-color: #505054; }
    #menu-lateral > ul > li ul > li + li {
      border-top: 1px solid #7b7b7e; }

#dono {
  padding: 50px 0 0; }

.nav-tabs {
  justify-content: center;
  margin: 0 0 37px;
  border-bottom: 1px solid #004fd0; }
  .nav-tabs .nav-item a {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding: 5px 0;
    margin: 0 25px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
  .nav-tabs .nav-item .active {
    color: #004fd0; }
    .nav-tabs .nav-item .active:after {
      content: "";
      width: 64px;
      height: 7px;
      background-color: #004fd0;
      top: 37px;
      left: 50%;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      margin: 0 0 0 -32px; }

.pagination {
  justify-content: center;
  margin: 50px 0 60px; }
  .pagination li {
    margin: 0 5px; }
    .pagination li a {
      background-color: #606060;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      min-width: 30px;
      min-height: 30px;
      padding: 5px;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
      text-align: center; }
      .pagination li a span {
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        width: 10px;
        height: 10px;
        margin: 5px; }
    .pagination li .current {
      background-color: #004fd0; }
  .pagination li:first-child span {
    transform: rotate(-45deg);
    left: 3px; }
  .pagination li:last-child span {
    transform: rotate(135deg);
    left: -3px; }

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: -20px 15px 0 0; }

p {
  font-size: 20px;
  font-weight: 500; }
  p span {
    font-size: 13px; }

.like {
  width: 26px;
  height: 26px;
  background-image: url("../img/like.png");
  background-position: right;
  margin: 10px 0 0; }

.likes {
  font-size: 20px;
  font-weight: 500;
  top: 7px; }

.tab-pane .tabela {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 4px 22px 26px;
  -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.3); }
  .tab-pane .tabela .usuario-tabela p {
    color: #000; }
  .tab-pane .tabela p {
    color: #004fd0; }
  .tab-pane .tabela > .row {
    margin: 0 0 6px; }
    .tab-pane .tabela > .row + .row {
      border-top: 1px solid #c0d4f3;
      padding: 23px 0 0; }

.subtitle {
  font-size: 15px;
  font-weight: 100;
  margin: 0 0 25px; }

#jogadores {
  padding: 50px 0 80px; }
  #jogadores .card {
    padding: 12px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 20px; }
    #jogadores .card h5 {
      font-size: 17px;
      font-weight: 500;
      color: #004fd0; }
    #jogadores .card .card-body {
      padding: 12px 0 0; }
    #jogadores .card .card-text {
      font-size: 12px;
      font-weight: 400; }
  #jogadores .row + .row {
    margin: 55px -15px 0; }
  #jogadores .view-more {
    width: 100%;
    font-weight: 500; }
  #jogadores .pagination {
    margin: 70px 0 0; }

#jogador {
  padding: 32px 0 0; }
  #jogador .jogador-item {
    text-align: center;
    margin: 30px 0 0; }
    #jogador .jogador-item p {
      font-size: 15px;
      font-weight: 500;
      margin: 20px 0 0;
      line-height: 18px; }
  #jogador .view-more {
    font-size: 17px;
    font-weight: 500;
    margin: 30px 0 0;
    width: 90%; }
  #jogador .video .play {
    background-image: url("../img/play.png");
    background-position: right;
    width: 45px;
    height: 50px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin: -15px 0 0 -15px; }
  #jogador .video img {
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }
  #jogador .video .time {
    bottom: 10px;
    right: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 24px; }
  #jogador .nome-jogador {
    font-size: 25px;
    font-weight: 500;
    color: #004fd0;
    margin: 30px 0 0; }
  #jogador .nascimento {
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0 0; }
  #jogador .descricao {
    margin: 22px 0 0; }
    #jogador .descricao p {
      font-size: 13px;
      font-weight: 100; }
  #jogador #videos {
    margin: 45px 0px 40px -28px;
    padding: 0 50px; }
    #jogador #videos .item {
      padding: 0 12px; }
      #jogador #videos .item:hover .video-wrapper:before {
        content: "Você está aqui";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6); }
      #jogador #videos .item:hover .video-wrapper:after {
        content: "Você está aqui";
        top: 50%;
        left: 50%;
        color: #fff;
        margin: -12px 0 0 -58px; }
    #jogador #videos .video-wrapper .play {
      background-image: url("../img/play.png");
      background-position: right;
      width: 14px;
      height: 15px;
      top: 50%;
      left: 50%;
      cursor: pointer;
      margin: -7px 0 0 -7px; }
    #jogador #videos .video-title {
      font-size: 15px;
      font-weight: 500;
      color: #004fd0;
      margin: 25px 0; }
    #jogador #videos p {
      font-size: 13px;
      font-weight: 500; }
  #jogador .owl-nav {
    top: 23%;
    width: 100%; }
    #jogador .owl-nav .owl-prev, #jogador .owl-nav .owl-next {
      background-color: #62626b;
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 24px;
      outline: none; }
      #jogador .owl-nav .owl-prev span, #jogador .owl-nav .owl-next span {
        top: -4px; }
    #jogador .owl-nav .owl-prev {
      left: -35px; }
    #jogador .owl-nav .owl-next {
      right: -35px; }

#rodape {
  margin: 116px 0 0;
  background: #00296b;
  background: -moz-linear-gradient(left, #00296b 0%, #003b9b 50%, #004ecd 100%);
  background: -webkit-linear-gradient(left, #00296b 0%, #003b9b 50%, #004ecd 100%);
  background: linear-gradient(to right, #00296b 0%, #003b9b 50%, #004ecd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00296b', endColorstr='#004ecd',GradientType=1 ); }
  #rodape .container {
    background-image: url("../img/bg-rodape.png");
    background-position: right;
    padding: 42px 0 45px; }
  #rodape h4 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 16px; }
    #rodape h4:after {
      content: "";
      width: 46px;
      height: 4px;
      top: 20px;
      left: 0;
      background-color: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px; }
  #rodape p {
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    line-height: 12px;
    margin: 4px 0 0;
    padding: 4px 0; }
  #rodape ul {
    padding: 0; }
    #rodape ul li a {
      font-size: 15px;
      font-weight: 100;
      color: #fff; }
  #rodape .redes-sociais a {
    margin: 0 7px; }

.interna #rodape {
  margin: 0; }

#copyright {
  color: #004fd0;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0; }
  #copyright .seguro {
    background-image: url("../img/cadeado.png");
    padding: 0 0 0 21px; }
