@charset "UTF-8";
/* Cores */
/* Fontes */
/* Opacity */
/* Dimensões */
/* Display */
/* Border */
/* Posições */
/* Float */
/* Margin */
/* Padding */
/* White-space */
/* Listas */
/* Overflow */
/* Background */
/* Cursor */
/* Box-shadow */
/* Content */
/* SVG */
@media screen and (max-width: 1030px) {
  #rodape .container {
    background: none; }
  #rodape .redes-sociais {
    margin: 20px 0 0; }
    #rodape .redes-sociais a {
      margin: 0 2px; }
  #copyright {
    font-size: 13px;
    text-align: center; } }

@media screen and (max-width: 810px) {
  #copyright {
    font-size: 15px; }
    #copyright .seguro {
      background-position: 40%; } }

@media screen and (max-width: 680px) {
  #rodape h4 {
    margin: 30px 0 16px; }
  #copyright .seguro {
    background-position: 36%; } }

@media screen and (max-width: 500px) {
  #rodape {
    text-align: center; }
    #rodape h4:after {
      left: 50%;
      margin: 0 0 0 -23px; }
  #copyright .seguro {
    background-position: 25%; } }

@media screen and (max-width: 810px) {
  #login {
    padding: 90px 20px; }
    #login #form-login form {
      padding: 0; }
    #login #criar-conta {
      padding: 0 0 0 36px; }
      #login #criar-conta:before {
        left: 16px; } }

@media screen and (max-width: 680px) {
  #login #criar-conta {
    border-top: 1px solid #004fd0;
    margin: 16px 0 0;
    padding: 20px 0 0; }
    #login #criar-conta:before {
      display: none; } }

@media screen and (max-width: 1030px) {
  #jogadores-procurados .owl-stage .active-slide img {
    width: 257px;
    height: 232px; } }

@media screen and (max-width: 830px) {
  #jogadores-procurados .owl-stage .active-slide img {
    width: 263px;
    height: 232px; } }

@media screen and (max-width: 680px) {
  #jogadores-procurados .owl-stage .active-slide img {
    width: 210px;
    height: 190px; } }

@media screen and (max-width: 580px) {
  #jogadores-procurados .owl-stage .active-slide img {
    width: 202px;
    height: 180px; } }

@media screen and (max-width: 680px) {
  #menu-lateral {
    margin: 0; } }

@media screen and (max-width: 1030px) {
  .tabela p {
    font-size: 16px; }
  .avatar {
    margin: 14px 15px 0 0; } }

@media screen and (max-width: 380px) {
  .tab-pane .tabela {
    padding: 4px 0 26px; } }

@media screen and (max-width: 810px) {
  #jogadores .card {
    margin: 40px 0 20px; }
  #jogadores .row + .row {
    margin: 0; } }

@media screen and (max-width: 1030px) {
  #jogador .jogador-item {
    display: inline-block;
    padding: 0 26px; }
  #jogador .owl-nav .owl-prev, #jogador .owl-nav .owl-next {
    width: 20px;
    height: 20px; }
    #jogador .owl-nav .owl-prev span, #jogador .owl-nav .owl-next span {
      top: -8px; }
  #jogador .owl-nav .owl-prev {
    left: -15px; }
  #jogador .owl-nav .owl-next {
    right: -15px; }
  #jogador .view-more {
    font-size: 13px; }
  #jogador .owl-nav {
    top: 12%; } }

@media screen and (max-width: 680px) {
  #jogador .view-more {
    margin: -60px 0 0; } }

@media screen and (max-width: 1030px) {
  .interna #topo .dropdown .btn {
    font-size: 11px; } }

@media screen and (max-width: 680px) {
  .interna #topo {
    height: auto;
    padding: 0 0 20px; } }

@media screen and (max-width: 500px) {
  .interna #topo #logo {
    margin: 5px 0 10px 5px; }
  .interna #topo form {
    margin: 0 0 10px; }
  .interna #topo .dropdown .dropdown-menu {
    margin: 10px 0 0; } }
