/* Cores */
$branco     : #fff;
$preto      : #000;
$cinza      : #eaeaea;
$cinza2     : #969696;
$cinza3     : #505054;
$cinza4     : #7b7b7e;
$cinza5     : #606060;
$cinza6     : #62626b;
$azul       : #004fd0;
$azul2      : #00296b;
$azul3      : #003b9b;
$azul4      : #004ecd;
$azul5      : #3f7adc;
$azul6      : #3f7bdb;
$azul7      : #c0d4f3;

/* Fontes */
@mixin font-weight($weight){
	font-weight: $weight;
}

@mixin font-style($style){
	font-style: $style;
}

@mixin font-family($family){
	font-family: $family;
}

@mixin color($cor){
	color: $cor;
}

@mixin decoration($decoration){
	text-decoration: $decoration;
}

%uppercase {
    text-transform: uppercase;
}

%lowercase {
    text-transform: lowercase;
}

@mixin line-height($value) {
  line-height: $value;
}

@mixin t-align($position){
    text-align: $position;
}

@mixin t-indent($indent){
    text-indent: $indent;
}

@mixin font-size($size) {
	font-size: $size;
}

/* Opacity */
@mixin has-opacity {
	opacity: 1;
}

@mixin has-opacity-imp {
	opacity: 1 !important;
}

%has-opacity {
	@include has-opacity;
}

@mixin no-opacity {
	opacity: 0;
}

@mixin no-opacity-imp {
	opacity: 0 !important;
}

%no-opacity {
	@include no-opacity;
}

/* Dimensões */

@mixin full-width  {
	width: 100%;
}

%full-width {
   @include full-width;
}

@mixin min-width($width) {
    min-width: $width;
}

@mixin min-height($height) {
    min-height: $height;
}

@mixin max-width($width) {
    max-width: $width;
}

@mixin max-height($height) {
    max-height: $height;
}

@mixin tamanho($width: null, $height: null) {
    @if $width {
        width: $width;
    }
    @if $height {
        height: $height;
    }
}

/* Display */
@mixin display-none {
    display: none;
}

@mixin display-none-imp {
    display: none !important;
}

%display-none {
    @include display-none;
}

%inline {
    display: inline;
}

@mixin block {
	display: block;
}

@mixin block-imp {
	display: block !important;
}

%block {
    @include block;
}

@mixin inline-block {
    display: inline-block;
}

%inline-block {
    @include inline-block;
}

/* Border */
@mixin border($width, $style, $color, $position) {
    @if $position == 'top' {
        border-top: $width $style $color;
    } @else if $position == 'right' {
        border-right: $width $style $color;
    } @else if $position == 'bottom' {
        border-bottom: $width $style $color;
    } @else if $position == 'left' {
        border-left: $width $style $color;
    } @else {
        border: $width $style $color;
    }
}

@mixin no-border {
    border:none;
}

%no-border {
    @include no-border;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* Posições */
@mixin position-absolute  {
	position: absolute;
}

%position-absolute {
   @include position-absolute;
}

@mixin position-relative   {
	position: relative;
}

%position-relative  {
   @include position-relative;
}

%position-fixed {
    position: fixed;
}

%position-static {
    position: static;
}

@mixin top($top) {
    top: $top;
}

@mixin right($right) {
    right: $right;
}

@mixin bottom($bottom) {
    bottom: $bottom;
}

@mixin left($left) {
    left: $left;
}

@mixin index($index) {
    z-index: $index;
}

@mixin v-align($position){
    vertical-align: $position;
}


/* Float */
%float-left {
    float: left;
}

%float-right {
    float: right;
}

@mixin float-none {
	float: none;
}

%float-none {
    @include float-none;
}

/* Margin */
@mixin margin($values...) {
  margin: $values;
}

/* Padding */
@mixin padding($values...) {
  padding: $values;
}

/* White-space */
%nowrap {
    white-space: nowrap;
}

/* Listas */

%list-style-none {
	list-style: none;
}

/* Overflow */

%overflow-hidden {
	overflow: hidden;
}

%overflow-visible {
	overflow: visible;
}

/* Background */

@mixin bg($cor) {
  background-color: $cor;
}

@mixin bg-image($image) {
  background-image: url($image);
}

@mixin bg-position($position) {
  background-position: $position;
}

%bg-no-repeat {
	background-repeat: no-repeat;
}

@mixin no-bg {
	background: none;
}

%no-bg {
   @include no-bg;
}

/* Cursor */
@mixin cursor($cursor) {
  cursor: $cursor;
}

/* Box-shadow */
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

/* Content */
@mixin content($content) {
  content: $content;
}

/* SVG */
@mixin fill($color) {
	fill: $color;
}