@font-face {
  font-family:"Exo Demi Bold";src:url("../fonts/Exo-DemiBold.eot?") format("eot"),
    url("../fonts/Exo-DemiBold.woff") format("woff"),
    url("../fonts/Exo-DemiBold.ttf") format("truetype"),
    url("../fonts/Exo-DemiBold.svg#Exo-DemiBold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Exo Bold";src:url("../fonts/Exo-Bold.eot?") format("eot"),
    url("../fonts/Exo-Bold.woff") format("woff"),
    url("../fonts/Exo-Bold.ttf") format("truetype"),
    url("../fonts/Exo-Bold.svg#Exo-DemiBold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@import "base";
@import "topo/topo";
@import "login/login";
@import "favoritos/favoritos";
@import "menu/menu";
@import "tabela/tabela";
@import "jogadores/jogadores";
@import "jogador/jogador";
@import "rodape/rodape";