#favoritos {
  @include padding(50px 0 80px);
  
  p {
    @include margin(0 0 40px);
    @extend %block;
  }
}

#jogadores-procurados {
  @include bg-image('../img/bg-jogadores-procurados.jpg');
  @include bg-position(center);
  background-size: cover;
  @extend %bg-no-repeat;
  @include padding(90px 0 32px);
  @extend %position-relative;
  
  h2 {
    @include color($branco);
    
    &:after {
      @include bg($branco);
    }
  }
  
  .subtitle {
    @include font-size(15px);
    @include font-weight(500);
    @include color($branco);
    @include margin(50px 0);
    @include index(1);
    @extend %position-relative;
  }
  
  &:before {
    @include content("");
    @include tamanho($width: 100%, $height: 100%);
    @extend %position-absolute;
    @include top(0);
    @include left(0);
    @include bg(rgba($preto, 0.6));
  }
  
  
  .owl-stage {
    @include margin(20px 0 0);
    
    .item {
      p {
        @extend %display-none;
        @include color($branco);
        @include font-size(25px);
      }
    }

    .active-slide {
      img {
        @extend %position-relative;
        @include top(-11px);
        @include left(-15px);
        @include tamanho($width: 300px, $height: 265px);
        @include index(9);
      }
      
      p {
        @extend %block;
      }
    }
  }
  
  .owl-dots {
    @include margin(46px 0 0);
    
    .owl-dot {
      @include tamanho($width: 15px, $height: 15px);
      @include border(1px, solid, $branco, '');
      @include border-radius(50%);
      @include margin(0 3px);
      outline: none;
    }

    .owl-dot.active {
      @include bg($branco);
    }
  }
}

h2.title {
  @include color($azul);
  @include font-size(25px);
  @include font-weight(500);
  @extend %position-relative;
  @include margin(0 0 34px);

  &:after {
    @include tamanho($width: 30px, $height: 6px);
    @include content("");
    @extend %block;
    @extend %position-absolute;
    @include top(35px);
    @include left(50%);
    @include margin(0 0 0 -15px);
    @include bg($azul);
    @include border-radius(7px);
  }
}