@media screen and (max-width: 1030px) {
  #jogadores-procurados {
    .owl-stage {
      .active-slide {
        img {
          @include tamanho($width: 257px, $height: 232px);
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  #jogadores-procurados {
    .owl-stage {
      .active-slide {
        img {
          @include tamanho($width: 263px, $height: 232px);
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  #jogadores-procurados {
    .owl-stage {
      .active-slide {
        img {
          @include tamanho($width: 210px, $height: 190px);
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  #jogadores-procurados {
    .owl-stage {
      .active-slide {
        img {
          @include tamanho($width: 202px, $height: 180px);
        }
      }
    }
  }
}