@media screen and (max-width: 1030px) {
  #rodape {
    .container {
      @include no-bg;
    }
    
    .redes-sociais {
      @include margin(20px 0 0);
      
      a {
        @include margin(0 2px);
      }
    }
  }
  
  #copyright {
    @include font-size(13px);
    @include t-align(center);
  }
}

@media screen and (max-width: 810px) {
  #copyright {
    @include font-size(15px);
    
    .seguro {
      @include bg-position(40%);
    }
  }
}

@media screen and (max-width: 680px) {
  #rodape {
    h4 {
      @include margin(30px 0 16px);
    }
  }
  
  #copyright {
    
    .seguro {
      @include bg-position(36%);
    }
  }
}

@media screen and (max-width: 500px) {
  
  #rodape {
    @include t-align(center);
    
    h4 {
      &:after {
        @include left(50%);
        @include margin(0 0 0 -23px);
      }
    }
  }
  
  #copyright {
    
    .seguro {
      @include bg-position(25%);
    }
  }
}