#rodape {
  @include margin(116px 0 0);
  background: $azul2;
  background: -moz-linear-gradient(left, $azul2 0%, $azul3 50%, $azul4 100%);
  background: -webkit-linear-gradient(left, $azul2 0%,$azul3 50%,$azul4 100%);
  background: linear-gradient(to right, $azul2 0%,$azul3 50%,$azul4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$azul2}', endColorstr='#{$azul4}',GradientType=1 );
  
  .container {
    @include bg-image('../img/bg-rodape.png');
    @include bg-position(right);
    @extend %bg-no-repeat;
    @include padding(42px 0 45px);
  }
  
  h4 {
    @include font-size(17px);
    @include font-weight(500);
    @include color($branco);
    @extend %position-relative;
    @include margin(0 0 16px);
    
    &:after {
      @include content("");
      @include tamanho($width: 46px, $height: 4px);
      @extend %block;
      @extend %position-absolute;
      @include top(20px);
      @include left(0);
      @include bg($branco);
      @include border-radius(7px);
    }
  }
  
  p {
    @include font-size(15px);
    @include font-weight(100);
    @include color($branco);
    @include line-height(12px);
    @include margin(4px 0 0);
    @include padding(4px 0);
  }
  
  ul {
    @extend %list-style-none;
    @include padding(0);
    
    li {
      a {
        @include font-size(15px);
        @include font-weight(100);
        @include color($branco);
      }
    }
  }
  
  .redes-sociais {
    a {
      @include margin(0 7px);
    }
  }
}

.interna {
  #rodape {
    @include margin(0);
  }
}

#copyright {
  @include color($azul);
  @include font-size(16px);
  @include font-weight(500);
  @include padding(6px 0);
  
  .seguro {
    @include bg-image('../img/cadeado.png');
    @extend %bg-no-repeat;
    @include padding(0 0 0 21px);
  }
}