#login {
  @include margin(140px 0 0);
  @include box-shadow(0px 0px 5px 0px rgba($preto,0.5));
  @include padding(90px 65px);
  @include border-radius(7px);
  
  #form-login {
    h5 {
      @include font-size(25px);
      @include font-weight(500);
      @include t-align(center);
      @include margin(0 0 14px);
    }

    form {
      @include padding(0 36px);

      input {
        @include margin(0 0 18px);
        @include font-size(20px);
        @include font-weight(100);
        @include color($preto);
        @include tamanho($height: 43px);
        @include box-shadow(0px 1px 4px 0px rgba($preto,0.3));
      }

      button {
        @include tamanho($width: 100%);
        @include margin(6px 0 12px);
        @include font-size(20px);
        @include font-family("Exo Demi Bold");
        @include box-shadow(0px 1px 4px 0px rgba($preto,0.3));
      }
    }

    #esqueci-senha {
      @include font-size(19px);
      @include color($preto);
      @include font-weight(500);
    }
  }
  
  #criar-conta {
    @include padding(0 36px);
    
    h5 {
      @include font-size(25px);
      @include font-weight(500);
      @include t-align(center);
      @include margin(0 0 45px);
    }
    
    a {
      @include tamanho($width: 100%);
      @include margin(6px 0 12px);
      @extend %position-relative;
      @include top(16px);
      @include font-size(20px);
      @include font-family("Exo Demi Bold");
      @include box-shadow(0px 1px 4px 0px rgba($preto,0.3));
    }
    
    &:before {
      @include content("");
      @include tamanho($width: 1px, $height: 285px);
      @extend %block;
      @extend %position-absolute;
      @include top(-58px);
      @include left(0);
      @include bg($azul);
    }
  }
}