@media screen and (max-width: 810px) {
  #login {
    @include padding(90px 20px);
    
    #form-login {
      form {
        @include padding(0);
      }
    }
    
    #criar-conta {
      @include padding(0 0 0 36px);
      
      &:before {
        @include left(16px);
      }
    }
  }
}

@media screen and (max-width: 680px) {
  #login {

    #criar-conta {
      @include border(1px, solid, $azul, 'top');
      @include margin(16px 0 0);
      @include padding(20px 0 0);
      
      &:before {
        @include display-none;
      }
    }
  }
}