@media screen and (max-width: 1030px) {
  .tabela {
    p {
      @include font-size(16px);
    }
  }
  
  .avatar {
      @include margin(14px 15px 0 0);
  }
}

@media screen and (max-width: 380px) {
  .tab-pane {
    .tabela {
      @include padding(4px 0 26px);
    }
  }
}