#dono {
  @include padding(50px 0 0);
}

.nav-tabs {
  justify-content: center;
  @include margin(0 0 37px);
  @include border(1px, solid, $azul, 'bottom');
  
  .nav-item {
    a {
      @include font-size(20px);
      @include font-weight(500);
      @include color($preto);
      @include padding(5px 0);
      @include margin(0 25px);
      @include border-radius(7px);
    }
    
    .active {
      @include color($azul);
      @extend %position-relative;
      
      &:after {
        @include content("");
        @include tamanho($width: 64px, $height: 7px);
        @include bg($azul);
        @extend %block;
        @extend %position-absolute;
        @include top(37px);
        @include left(50%);
        @include border-radius(7px);
        @include margin(0 0 0 -32px);
      }
    }
  }
}

.pagination {
  justify-content: center;
  @include margin(50px 0 60px);
  
  li {
    @include margin(0 5px);
    
    a {
      @include bg($cinza5);
      @include font-size(15px);
      @include font-weight(500);
      @include color($branco);
      @include min-width(30px);
      @include min-height(30px);
      @include padding(5px);
      @include border-radius(0.25rem);
      @include t-align(center);
      
      span {
        @include border(1px, solid, $branco, 'top');
        @include border(1px, solid, $branco, 'left');
        @include tamanho($width: 10px, $height: 10px);
        @extend %block;
        @include margin(5px);
      }
    }
    
    .current {
      @include bg($azul);
    }
  }
  
  li:first-child {
    span {
      transform: rotate(-45deg);
      @extend %position-relative;
      @include left(3px);
    }
  }
  
  li:last-child {
    span {
      transform: rotate(135deg);
      @extend %position-relative;
      @include left(-3px);
    }
  }
}

.avatar {
  @include border-radius(50%);
  @extend %inline-block;
  @include margin(-20px 15px 0 0);
}

p {
  @extend %inline-block;
  @include font-size(20px);
  @include font-weight(500);
  
  span {
    @extend %block;
    @include font-size(13px);
  }
}

.like {
  @include tamanho($width: 26px, $height: 26px);
  @include bg-image('../img/like.png');
  @include bg-position(right);
  @extend %bg-no-repeat;
  @extend %inline-block;
  @include margin(10px 0 0);
}

.likes {
  @include font-size(20px);
  @include font-weight(500);
  @extend %position-relative;
  @include top(7px);
}

.tab-pane {
  .tabela {
    @include border-radius(7px);
    @include padding(4px 22px 26px);
    @include box-shadow(0px 1px 12px 0px rgba($preto,0.3));
    
    .usuario-tabela {
      p {
        @include color($preto);
      }
    }
    
    p {
      @include color($azul);
    }
    
    > .row {
      @include margin(0 0 6px);

      + .row {
        @include border(1px, solid, $azul7, 'top');
        @include padding(23px 0 0);
      }
    }
  }
}