.subtitle {
  @include font-size(15px);
  @include font-weight(100);
  @include margin(0 0 25px);
}

#jogadores {
  @include padding(50px 0 80px);
  
  .card {
    @include padding(12px);
    @include box-shadow(0px 1px 4px 0px rgba($preto,0.3));
    @include margin(0 0 20px);
    
    h5 {
      @include font-size(17px);
      @include font-weight(500);
      @include color($azul);
    }
    
    .card-body {
      @include padding(12px 0 0);
    }
    
    .card-text {
      @include font-size(12px);
      @include font-weight(400);
    }
  }
  
  .row {
    + .row {
      @include margin(55px -15px 0)
    }
  }
  
  .view-more {
    @include tamanho($width: 100%);
    @include font-weight(500);
  }
  
  .pagination {
    @include margin(70px 0 0)
  }
}