@media screen and (max-width: 1030px) {
  #jogador {
    .jogador-item {
      @include inline-block;
      @include padding(0 26px);
    }
    
    .owl-nav {
      .owl-prev, .owl-next {
        @include tamanho($width: 20px, $height: 20px);

        span {
          @include top(-8px);
        }
      }

      .owl-prev {
        @include left(-15px);
      }

      .owl-next {
        @include right(-15px);
      }
    }
    
    .view-more {
      @include font-size(13px);
    }
    
    .owl-nav {
      @include top(12%);
    }
  }
}

@media screen and (max-width: 680px) {
  #jogador {

    .view-more {
      @include margin(-60px 0 0);
    }
  }
}