#jogador {
  @include padding(32px 0 0);
  
  .jogador-item {
    @include t-align(center);
    @include margin(30px 0 0);
    
    p {
      @include font-size(15px);
      @include font-weight(500);
      @extend %block;
      @include margin(20px 0 0);
      @include line-height(18px);
    }
  }
  
  .view-more {
    @include font-size(17px);
    @include font-weight(500);
    @include margin(30px 0 0);
    @include tamanho($width: 90%);
  }
  
  .video {
    @extend %position-relative;
    
    .play {
      @include bg-image('../img/play.png');
      @include bg-position(right);
      @extend %bg-no-repeat;
      @extend %inline-block;
      @include tamanho($width: 45px, $height: 50px);
      @extend %position-absolute;
      @include top(50%);
      @include left(50%);
      @include cursor(pointer);
      @include margin(-15px 0 0 -15px);
    }
    
    img {
      @include tamanho($width: 100%);
      @include border-radius(7px);
      @include box-shadow(0px 0px 5px 0px rgba($preto,0.5));
    }
    
    .time {
      @extend %position-absolute;
      @include bottom(10px);
      @include right(15px);
      @include color($branco);
      @include bg(rgba($preto, 0.5));
      @include padding(0px 24px);
    }
  }
  
  .nome-jogador {
    @include font-size(25px);
    @include font-weight(500);
    @include color($azul);
    @include margin(30px 0 0);
  }
  
  .nascimento {
    @include font-size(19px);
    @include font-weight(500);
    @include margin(10px 0 0);
  }
  
  .descricao {
    @include margin(22px 0 0);
    
    p {
      @include font-size(13px);
      @include font-weight(100);
    }
  }
  
  #videos {
    @include margin(45px 0px 40px -28px);
    @include padding(0 50px);
    
    .item {
      @include padding(0 12px);
      
      &:hover {
        .play {
          @extend %display-none;
        }
        
        .video-wrapper {
          &:before {
            @include content("Você está aqui");
            @include tamanho($width: 100%, $height: 100%);
            @extend %block;
            @extend %position-absolute;
            @include top(0);
            @include left(0);
            @include bg(rgba($preto, 0.6));
          }

          &:after {
            @include content("Você está aqui");
            @extend %block;
            @extend %position-absolute;
            @include top(50%);
            @include left(50%);
            @include color($branco);
            @include margin(-12px 0 0 -58px);
          }
        }
      }
    }
    
    .video-wrapper {
      @extend %position-relative;

      .play {
        @include bg-image('../img/play.png');
        @include bg-position(right);
        @extend %bg-no-repeat;
        @extend %inline-block;
        @include tamanho($width: 14px, $height: 15px);
        @extend %position-absolute;
        @include top(50%);
        @include left(50%);
        @include cursor(pointer);
        @include margin(-7px 0 0 -7px);
      }
    }
    
    .video-title {
      @include font-size(15px);
      @include font-weight(500);
      @include color($azul);
      @include margin(25px 0);
    }
    
    p {
      @include font-size(13px);
      @include font-weight(500);
    }
  }
  
  .owl-nav {
    @extend %position-absolute;
    @include top(23%);
    @include tamanho($width: 100%);
    
    .owl-prev, .owl-next {
      @extend %position-absolute;
      @include bg($cinza6);
      @include tamanho($width: 30px, $height: 30px);
      @include color($branco);
      @include font-size(24px);
      outline: none;
      
      span {
        @extend %position-relative;
        @include top(-4px);
      }
    }
    
    .owl-prev {
      @include left(-35px);
    }
    
    .owl-next {
      @include right(-35px);
    }
  }
}