#menu-lateral {
  @include bg($azul);
  @include border-radius(7px);
  @include border(1px, solid, $azul, 'right');
  @include padding(10px 0);
  @include margin(-7px 0 0);
  @include tamanho($height: 102%);
  
  > ul {
    > li {
      a {
        @include font-size(12px);
        @include font-weight(500);
        @include color($branco);

        .icon {
          @include tamanho($width: 11px, $height: 11px);
          @extend %inline-block;
          @extend %bg-no-repeat;
          @include margin(0 11px 0 0);
          @include bg-position(right);
        }

        .jogadores {
          @include bg-image('../img/icon-jogadores.png');
        }

        .favoritos {
          @include bg-image('../img/icon-favoritos.png');
        }

        .acessados {
          @include bg-image('../img/icon-acessados.png');
        }

        .cadastrar {
          @include bg-image('../img/icon-cadastrar.png');
        }
      }

      + li {
        @include border(1px, solid, $azul6, 'top');
      }
      
      ul {
        @extend %list-style-none;
        @include padding(0);
        @include bg($cinza3);
        @extend %display-none;
        
         > li {
           + li {
            @include border(1px, solid, $cinza4, 'top');
          }
        }
      }
    }
    
    > li.active {
      ul {
        @extend %block;
      }
    }
  }
}