@media screen and (max-width: 1030px) {
  .interna {
    #topo {
      .dropdown {
        .btn {
          @include font-size(11px);
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .interna {
    #topo {
      @include tamanho($height: auto);
      @include padding(0 0 20px);
    }
  }
}

@media screen and (max-width: 500px) {
  .interna {
    #topo {
      
      #logo {
        @include margin(5px 0 10px 5px);
      }
      
      form {
        @include margin(0 0 10px);
      }
      
      .dropdown {
      
        .dropdown-menu {
          @include margin(10px 0 0);
        }
      }
    }
  }
}