#topo {
  @include bg($cinza);
  @include tamanho($height: 92px);
  
  a {
    img {
      @include margin(30px 0 0);
    }
  }
}

.interna {
  #topo {
    @include tamanho($height: 80px);

    #logo {
      @include tamanho($height: 65px);
      @include margin(5px 0 0 5px);
    }
    
    #avatar {
      @include border-radius(50%);
    }
    
    input {
      @include border(0, solid, transparent, 'right');
      @include font-size(12px);
      @include border-radius(7px 0 0 7px);
      @include padding(0 14px);
      @include tamanho($height: 28px);
      
      &:focus {
        @include box-shadow(none);
      }
    }
    
    #lupa {
      @include bg-image('../img/lupa.png');
      @extend %bg-no-repeat;
      @include bg-position(center);
      @include cursor(pointer);
      @include bg($branco);
      @include border(0, solid, transparent, 'left');
      @include border-radius(0 7px 7px 0);
      outline: none;
    }
    
    .dropdown {
      @extend %inline-block;
      
      .dropdown-menu {
        @include margin(33px 0 0);
        @include bg($azul);
        @include min-width(7rem);
        @include padding(0);
        
        a {
          @include color($branco);
          @include font-size(12px);
          @include font-weight(500);
          
          + a {
            @include border(1px, solid, $azul5, 'top');
          }
          
          &:hover {
            @include bg(transparent);
          }
        }
      }
      
      .btn {
        @include bg(transparent);
        @extend %no-border;
        @include box-shadow(none);
        @include padding(0 0 0 6px);
        @include font-size(15px);
        
        &:after {
          @include margin(0 0 0 12px);
          @include border(2px, solid, $azul, 'top');
          @include border(2px, solid, $azul, 'left');
          @include border(0, solid, $azul, 'right');
          @include tamanho($width: 10px, $height: 10px);
          transform: rotate(-135deg);
        }
      }
    }
  }
}